dist/*.js
**/node_modules
**/node_modules/*
**/out/*
**/dist/*
**/dist-cjs/*
**/dist-esm/*
**/.next/*
**/api/*
!**/pages/api/*
**/.tsbuild*
**/.next/*
*.mdx
**/_archive/*
**/*.md
**/*.js.flow

**/.vercel/*
**/.wrangler/*
**/.out/*
**/.temp/*
.prettierignore